In [1]:
import pandas as pd
import glob
from joblib import Parallel, delayed

In [2]:
files = glob.glob('base_problems_runs/*')

In [3]:
dfs = Parallel(n_jobs=-1)(delayed(pd.read_csv)(f) for f in files)
df = pd.concat(dfs)

In [4]:
df

,GA,PSO,DE,CMAES,ES,algorithm_run,problem_class,problem_instance
0,1000.000000,1000.000000,1000.000000,1001.803019,1000.000322,0,21,10
1,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1,21,10
2,1000.000000,1000.000000,1000.000000,1000.000000,1000.000001,2,21,10
3,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,3,21,10
4,1000.000000,1000.000000,1000.000002,1000.000679,1000.000000,4,21,10
...,...,...,...,...,...,...,...,...
95,151.825693,151.755108,151.896805,152.052017,151.847615,95,24,7
96,151.919489,151.780511,151.992760,150.102150,150.700105,96,24,7
97,149.948608,153.099301,151.902587,151.722045,150.366809,97,24,7
98,151.855967,151.779828,151.697647,150.007303,150.555979,98,24,7
99,152.013735,151.752376,151.714610,150.311582,152.367963,99,24,7

In [5]:
rdf = df[['GA', 'PSO', 'DE', 'CMAES', 'ES']].rank(axis=1)
rdf

     GA  PSO   DE  CMAES   ES
0   2.0  1.0  3.0    5.0  4.0
1   4.0  1.5  3.0    1.5  5.0
2   4.0  1.5  3.0    1.5  5.0
3   4.0  1.5  5.0    1.5  3.0
4   2.0  1.0  4.0    5.0  3.0
..  ...  ...  ...    ...  ...
95  2.0  1.0  4.0    5.0  3.0
96  4.0  3.0  5.0    1.0  2.0
97  1.0  5.0  4.0    3.0  2.0
98  5.0  4.0  3.0    1.0  2.0
99  4.0  3.0  2.0    1.0  5.0

[24000 rows x 5 columns]

In [6]:
fdf = pd.concat([df, rdf], axis=1)
#fdf

In [7]:
fdf.groupby(['problem_class']).mean().reset_index()

,problem_class,GA,PSO,DE,CMAES,ES,algorithm_run,problem_instance,GA,PSO,DE,CMAES,ES
0,1,-16.258996,-16.259000,-16.259000,-16.259000,-16.258824,49.5,5.5,4.044,2.3065,1.8470,1.8465,4.9560
1,2,-54.904854,-55.243000,-55.243000,-55.243000,-55.172714,49.5,5.5,4.579,3.0010,1.4995,1.5005,4.4200
2,3,-16.248074,-16.199516,-16.241723,-15.091626,-15.410295,49.5,5.5,3.257,2.4110,1.2205,3.5625,4.5490
3,4,-16.245791,-16.056700,-16.182550,-14.402145,-15.075085,49.5,5.5,2.696,2.4325,1.2225,4.3470,4.3020
4,5,126.099000,126.099000,126.099000,126.099000,126.179032,49.5,5.5,2.500,2.5000,2.5000,2.5000,5.0000
5,6,-1.536578,-1.538999,-1.529075,-1.539000,-1.532340,49.5,5.5,3.719,2.0960,3.8210,1.0000,4.3640
6,7,47.719734,47.712975,47.703517,47.816987,47.697374,49.5,5.5,3.419,2.0330,4.1325,1.3660,4.0495
7,8,-161.129277,-161.171472,-161.158626,-161.174000,-161.152976,49.5,5.5,3.750,2.2620,3.8370,1.0010,4.1500
8,9,-70.702196,-70.723856,-70.720371,-70.725000,-70.708518,49.5,5.5,3.923,2.1030,3.5240,1.0120,4.4380
9,10,-61.400261,-61.453133,-61.572765,-66.136061,-67.441353,49.5,5.5,3.749,3.7300,3.8830,1.4080,2.2300
10,11,121.984623,121.278416,121.804999,117.717393,116.578295,49.5,5.5,3.876,3.5350,3.7730,1.4050,2.4110
11,12,8.855925,8.186303,7.281730,6.669556,4.971878,49.5,5.5,3.534,3.1190,3.2055,1.8745,3.2670
12,13,43.098237,42.665752,42.897596,42.457000,42.696635,49.5,5.5,3.739,2.7760,3.9530,1.0000,3.5320
13,14,-267.712098,-267.712960,-267.712890,-267.713000,-267.711761,49.5,5.5,4.079,2.3560,3.0260,1.0000,4.5390
14,15,88.734274,88.540242,88.474877,89.166827,89.097318,49.5,5.5,3.152,2.1790,2.7260,2.8910,4.0520
15,16,-2.132488,-2.151764,-2.112461,-2.060367,-2.039603,49.5,5.5,3.342,1.9350,3.5705,1.5475,4.6050
16,17,69.504747,69.490156,69.489987,69.517173,69.543818,49.5,5.5,4.005,1.9750,3.0640,1.0920,4.8640
17,18,69.917472,69.877229,69.819390,70.342413,69.776620,49.5,5.5,3.431,2.3920,3.4270,1.8670,3.8830
18,19,-37.411902,-37.414603,-37.411704,-37.384618,-37.406819,49.5,5.5,3.011,2.3630,3.1800,2.7620,3.6840
19,20,-0.087059,-0.027276,-0.107709,0.272901,-0.067083,49.5,5.5,3.135,2.6005,2.4160,3.3655,3.4830
20,21,23.152078,23.164266,23.066352,23.644215,22.945506,49.5,5.5,3.246,2.0535,3.0465,3.3580,3.2960
21,22,114.217119,114.221398,114.115858,114.724301,114.061022,49.5,5.5,3.460,2.0600,3.2260,2.9030,3.3510
22,23,-39.663657,-39.649254,-39.507019,-39.824605,-39.451341,49.5,5.5,2.873,2.9120,3.3670,2.2740,3.5740
23,24,-75.236572,-75.326813,-75.107512,-74.761210,-74.867411,49.5,5.5,2.705,2.5340,2.9000,3.4730,3.3880

In [8]:
d = fdf.groupby(['problem_class', 'problem_instance']).mean().reset_index()
d

,problem_class,problem_instance,GA,PSO,DE,CMAES,ES,algorithm_run,GA,PSO,DE,CMAES,ES
0,1,1,79.480005,79.480000,79.480000,79.480000,79.480209,49.5,4.06,2.37,1.815,1.815,4.94
1,1,2,394.480004,394.480000,394.480000,394.480000,394.480144,49.5,4.04,2.21,1.895,1.895,4.96
2,1,3,-247.109996,-247.110000,-247.110000,-247.110000,-247.109831,49.5,4.03,2.12,1.940,1.940,4.97
3,1,4,-152.039996,-152.040000,-152.040000,-152.040000,-152.039823,49.5,4.07,2.34,1.830,1.830,4.93
4,1,5,-25.249997,-25.250000,-25.250000,-25.250000,-25.249758,49.5,4.02,2.50,1.750,1.750,4.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,24,6,175.819696,175.733305,176.010675,176.101438,176.167060,49.5,2.77,2.62,3.090,3.240,3.28
236,24,7,151.227264,151.444855,151.385053,151.817967,151.725291,49.5,2.53,2.76,2.850,3.550,3.31
237,24,8,-440.879124,-440.942010,-440.695770,-440.307072,-440.473318,49.5,2.59,2.50,2.740,3.600,3.57
238,24,9,17.355865,17.167102,17.723815,17.817925,17.895848,49.5,2.68,2.39,3.010,3.320,3.60
239,24,10,-935.300537,-935.492309,-935.279125,-935.111711,-935.033297,49.5,3.02,2.52,2.980,3.090,3.39

In [9]:
outdf = pd.concat([df[['problem_class']], rdf], axis=1).groupby(['problem_class']).mean().reset_index()
print(outdf.to_latex(index = False, multirow = True))

\begin{tabular}{rrrrrr}
\toprule
 problem\_class &    GA &    PSO &     DE &  CMAES &     ES \\
\midrule
             1 & 4.044 & 2.3065 & 1.8470 & 1.8465 & 4.9560 \\
             2 & 4.579 & 3.0010 & 1.4995 & 1.5005 & 4.4200 \\
             3 & 3.257 & 2.4110 & 1.2205 & 3.5625 & 4.5490 \\
             4 & 2.696 & 2.4325 & 1.2225 & 4.3470 & 4.3020 \\
             5 & 2.500 & 2.5000 & 2.5000 & 2.5000 & 5.0000 \\
             6 & 3.719 & 2.0960 & 3.8210 & 1.0000 & 4.3640 \\
             7 & 3.419 & 2.0330 & 4.1325 & 1.3660 & 4.0495 \\
             8 & 3.750 & 2.2620 & 3.8370 & 1.0010 & 4.1500 \\
             9 & 3.923 & 2.1030 & 3.5240 & 1.0120 & 4.4380 \\
            10 & 3.749 & 3.7300 & 3.8830 & 1.4080 & 2.2300 \\
            11 & 3.876 & 3.5350 & 3.7730 & 1.4050 & 2.4110 \\
            12 & 3.534 & 3.1190 & 3.2055 & 1.8745 & 3.2670 \\
            13 & 3.739 & 2.7760 & 3.9530 & 1.0000 & 3.5320 \\
            14 & 4.079 & 2.3560 & 3.0260 & 1.0000 & 4.5390 \\
            15 & 3.152 & 2.1790 & 2.7260 & 2.8910 & 4.0520 \\
            16 & 3.342 & 1.9350 & 3.5705 & 1.5475 & 4.6050 \\
            17 & 4.005 & 1.9750 & 3.0640 & 1.0920 & 4.8640 \\
            18 & 3.431 & 2.3920 & 3.4270 & 1.8670 & 3.8830 \\
            19 & 3.011 & 2.3630 & 3.1800 & 2.7620 & 3.6840 \\
            20 & 3.135 & 2.6005 & 2.4160 & 3.3655 & 3.4830 \\
            21 & 3.246 & 2.0535 & 3.0465 & 3.3580 & 3.2960 \\
            22 & 3.460 & 2.0600 & 3.2260 & 2.9030 & 3.3510 \\
            23 & 2.873 & 2.9120 & 3.3670 & 2.2740 & 3.5740 \\
            24 & 2.705 & 2.5340 & 2.9000 & 3.4730 & 3.3880 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_3060762/713662824.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(outdf.to_latex(index = False, multirow = True))

In [10]:
#x[1]